<ul>
  <% @stations.each do |station| %>
    <h1><%= station.name %></h1>
  <%= station.street %>
  <%= station.city %>
  <%= station.state %>
  <%= station.zip %>
  <%= station.fuel_type %>
  <%= station.distance %>
  <%= station.access_times %>
<% end %>
</ul>
